@model CommissionSystem.Domain.Models.DiscountedCallServiceInternal

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<span>@ViewBag.value</span>

@Model.Commission
@Model.Rate
@Model.Tier1
@Model.Tier2
@CommissionSystem.Domain.Models.DiscountedCallServiceInternal.MaxRate